extends layout

block content
    script(src="/javascripts/bis.js")
    section.busstop-list
        table.bis.busstop-list
            thead
                tr
                    th 노선번호
                    th 현재위치
                    th 도착예정
                    th 남은정류장
            tbody
                tr
                    td(colspan="4") 정류장을 클릭하세요...